

/*the container that contains the 3 columns*/
.container{
    display: flex;
    background-color: #E7E8EB;
    border-radius: 20px;
    padding: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;

}
/*each column would have this attribute*/
.container section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
}
/*each cards would have this attributes*/
.container div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px;
}
/*Now for each individual cards*/



                            /*Tracking card*/
#Tracking_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    padding: 20px;
    margin-bottom: 20px;

}
/*for the tabs*/ 
.tabs{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}
.tab_active{
    background-color:#0E1B25 ;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}
input{
    background-color: #ededed;
    width: 100%;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
}
button{
    width: 100%;
    background-color: #d4e157;
    border: none;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;

}

                            /*the dark info*/
#dark_info{
    display: flex;
    flex-direction: column;
    background-color: #0E1B25;
    color: white;
    height: 300px;
    justify-content: flex-end;
}
 
                        /*the large image card*/
#Large_Image_card{
   
    background-image: url("largeimage1.jpg");
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    padding: 40px;
    height: 450px;
    filter: blur(0.1px) brightness(80%);
    

} 
.badge{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 15px;
    gap: 10px;
    justify-content: flex-start;
} 

                            /*the stats card*/
#Stats_card{
    display: flex;
    flex-direction: inherit;
    background-color: white;
    color: #0E1B25;
}
                        /*Highlight card*/
#Highlight_card{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-end;
    background-color: #d4e157;
    color: #0E1B25;
    height: 300px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

                        /*the small image card*/
#Image_card{
    display: flex;
    background-image: url('small\ image.png');
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    color: #E7E8EB;
    height: 400px;
}